<header>
<div class = "boxContainer">
<div class = "box3">
<h1>StudySupport</h1>
</div>
<div class = "box4">
<section>
あざまでログインしています。
</section>
</div>
</div>
</header>

<body>
あなたのTAはアナグラさんです
<div class = "boxContainer">
<div class = "box1">
<h2>TA</h2>
<ul>
<li><%= link_to 'アナグラさん', controller: 'articles' %></li>
<li>たくやさん</li>
<li>アイリスさん</li>
<li>○○さん</li>
</ul>
</div>
<div class = "box2">
<h2>先生</h2>
<ul>
<li>國田先生</li>
<li>當間先生</li>
<li>○○先生</li>
</ul>
</div>
</div>

  <div id="container">
    <div id="calendar">
    </div>
</div> 

</body>

<footer>Copyright ©GingDagoz All Rights Reserved.

<h2><%= link_to 'アナグラさんにチャットする', controller: 'articles' %></h2>
<h2><%= link_to 'アナグラさんとの予定をカレンダーに追加する', controller: 'events' %></h2>


</footer>
