<h1>あなたのTAはアナグラさんです</h1>

<h2><%= link_to 'アナグラさんにチャットする', controller: 'articles' %></h2>
<h2>アナグラさんのカレンダーをみる</h2>
<h2><%= link_to 'Usersにとぶ', controller: 'users' %></h2>
<h2><%= link_to 'loginにとぶ', login_path %></h2>
<h2>New user? <%= link_to "Sign up now!", signup_path %></h2>
