header{
    font-family: Papyrus;
    font-size:25px;
    margin-left:auto;
    margin-right:auto;
}
.box3{
    background-color:#ffffff;
    border-radius: 20px;
    box-shadow: 1px 1px 3px #aaaaaa;
    float: left;//横揃え
}
.box4{
    float: left;//横揃え
    float: right //右揃え
}
body{
    color:#000000;
    background-color:#48d1cc;
    font-size:22px;
    }