header{
    font-family: Papyrus;
    font-size:25px;
    margin-left:auto;
    margin-right:auto;
}
.logo{
    background-image: url(logo2.png);             //画像のURLを指定
    background-repeat:  no-repeat;                //画像の繰り返しを指定         
    width:100px;                                   //画像の横幅のサイズを指定
    height:100px;                                 //画像の縦幅のサイズを指定    
}
.box3{
    background-color:#ffffff;
    border-radius: 20px;
    box-shadow: 1px 1px 3px #aaaaaa;
    display: inline-block;
    white-space: nowrap;
    //float: left;//横揃え
}
.box4{
    // float: left;  //横揃え
    float: right; //右揃え
}
section{
    background-color:#ffffff;
    border-radius: 20px;
    box-shadow: 1px 1px 3px #aaaaaa;
    width: 250px;
    font-size:15px;
    text-align: center
}
body{
    color:#000000;
    background-color:#48d1cc;
    font-size:22px;
}
.br::before {
    content: "\A" ;
    white-space: pre ;
}
.disp-img{
    background-image: url(usagi1.gif);             //画像のURLを指定
    background-repeat:  no-repeat;                //画像の繰り返しを指定         
    width:500px;                                   //画像の横幅のサイズを指定
    height:200px;                                 //画像の縦幅のサイズを指定    
}

.disp-img2{
    background-image: url(usagitya.gif);             //画像のURLを指定
    background-repeat:  no-repeat;                //画像の繰り返しを指定         
    width:500px;                                   //画像の横幅のサイズを指定
    height:200px;                                 //画像の縦幅のサイズを指定    
}

figure{
    width: 250px;
}
.box5{
    float: left;//横揃え
}
.box1{
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 3px #aaaaaa;
    border-radius: 20px;
    width: 250px;
    height: auto;
    background-color:#ffffff;
    float: left;//横揃え
}
.box1 h2 {
    font-size:30px;
    margin-left:auto;
    margin-right:auto;
    text-align: center}
.box1 li {
    margin-bottom: 15px;    //リストの間隔
    font-size:23px;
    list-style-image: url(listmark.png);}
.box2{
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 3px #aaaaaa;
    border-radius: 20px;
    width: 250px;
    height:auto;

    background-color:#ffffff;
    float: left;//横揃え
}
.box2 h2 {
    font-size:30px;
    text-align: center}
.box2 li {
    margin-bottom: 15px;    //リストの間隔
    font-size:23px; //フォントサイズ
    list-style-image: url(listmark2.png);}
//.boxContainer{
//    overflow: hidden;//横揃え
//}
.flex{  //3要素を横揃えしたくて入れてみた
    padding: 2.5% 0;    //これは余白
    display: flex;  //これないと困る
    flex-direction: row;    //何これわからん
    justify-content: space-evenly;  //横の余白揃えてるっぽい？
}
.flex > *{
    width: 30%;
}
.flex,
.flex > *{
    border: 3px solid #aaa;
}

//とりあえずコメントアウト
//     background-color:#ffffff;}
// aside h2 {font-size:18px;}
// aside li {list-style-image: url(listmark2.png);}

input[type="text"] {
    width: 160px;
    height: 20px;
    margin-bottom: 10px;
}

input[type="email"] {
    width: 160px;
    height: 20px;
    margin-bottom: 10px;
}

input[type="password"] {
    width: 160px;
    height: 20px;
    margin-bottom: 10px;
}

select::-ms-expand {
	display: none;
}
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin-bottom: 20px;
	padding: 7px 30px 7px 10px;
	font-size: 90%;
	line-height: 1.1em;
	border-radius: 5px;
	border: none;
	background-image: url(pic03-14.png);
	background-repeat: no-repeat;
	background-size: 12px 10px;
	background-position: right 10px center;
	background-color: #bddfff;
}

.button {
    display       : inline-block;
    border-radius : 10%;          /* 角丸       */
    font-size     : 11pt;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 8px 8px;   /* 余白       */
    background    : #0bb4ca;     /* 背景色     */
    color         : #ffffff;     /* 文字色     */
    line-height   : 1em;         /* 1行の高さ  */
    opacity       : 0.9;         /* 透明度     */
    transition    : .3s;         /* なめらか変化 */
    box-shadow    : 1px 1px 5px #666666;  /* 影の設定 */
  }
  .button:hover {
    box-shadow    : none;        /* カーソル時の影消去 */
    opacity       : 1;           /* カーソル時透明度 */
  }
  .chat{
    text-align : center;
    min-height: 100vh;
    position: relative;/*←相対位置*/
    padding-bottom: 120px;/*←footerの高さ*/
    box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
  }
  .chat h2{
    font-size:60px;
  }
  .chat p{
    font-size:35px;
  }
  .chat footer{
    width: 100%;
    background-color: #89c7de;
    color: #fff;
    text-align: center;
    padding: 30px 0;
    position: absolute;/*←絶対位置*/
    bottom: 0; /*下に固定*/
  }
  .home{
    text-align : center;
    min-height: 100vh;
    position: relative;/*←相対位置*/
    padding-bottom: 120px;/*←footerの高さ*/
    box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
  }
  footer{
    font-family: Papyrus;
    width: 100%;
    background-color: #89c7de;
    color: #fff;
    text-align: center;
    padding: 30px 0;
    position: absolute;/*←絶対位置*/
    bottom: 0; /*下に固定*/
}